<div>
<div class="back" data-ng-click ="ICTRL.dashboard()">Dashboard</div>
	<form>
	<div class="box">
		<h2>First name:</h2>
  		<input type="text" name="firstname" data-ng-model="ICTRL.emp.first_name"><br>
	</div>
	<div class="box">
  		<h2>Last name:</h2>
  		<input type="text" name="lastname" data-ng-model="ICTRL.emp.last_name"><br>
	</div>
	<div class="box">
  		<h2>Address:</h2>
  		<input type="text" name="address" data-ng-model="ICTRL.emp.address"><br>
	</div>
	<div class="box">
  		<h2>Mobile number:</h2>
  		<input type="text" name="number" data-ng-model="ICTRL.emp.number"><br>
	</div>
	<div class="box">
  		<button data-ng-click="ICTRL.addEmp()">Submit</button>
	</div>
	</form>
	
	<div class="box">
		<span>{{ICTRL.res}}</span>
	</div>
	
	
	
</div>